/*-----Global Styles-----*/

body {
  display: flex;
  flex-direction: row;
  background: #f6f7f8;
  font-family: Arial, sans-serif;
}

.App {
  background: #f6f7f8;
}

/*-----Header-----*/

.header {
  display: flex;
  flex-direction: row;
  height: 6.025%;
  margin-top: 1.9246%;
  align-items: center;
  background: #ffffff;
  border-radius: 70px;
  opacity: 1;
  justify-content: space-between;
}

.header .logo {
  margin-left: 2.046%;
  width: 13.491049%;
}

.header .logo img {
  width: 100%;
  height: auto;
}

.header nav {
  display: flex;
  flex-direction: row;
  width: 42.391304%;
}

.header nav ul li img {
  width: 100%;
  height: auto;
}

.header li {
  margin-right: 3.58%;
  width: 13.273%;
}

.header .side-icons {
  margin-right: 2.046%;
}

.header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.header ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 8.45%;
}

.header ul li p {
  margin-left: 10%;
}

.header ul .active {
  background: #01f0d0 0% 0% no-repeat padding-box;
  border-radius: 41px;
  opacity: 1;
}

.header .user {
  display: flex;
  flex-direction: row;
  width: 11.57289%;
}

/*-----Body-----*/

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}

/*-----Body Columns-----*/

.body .left-column {
  display: flex;
  flex-direction: column;
  width: 22.93%;
}

.body .center-column {
  display: flex;
  flex-direction: column;
  width: 47.875%;
}

.body .right-column {
  display: flex;
  flex-direction: column;
  width: 22.9375%;
}

/*-----Patients List Section-----*/

.patients-list-menu {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  height: 1054px;
  margin-bottom: 19px;
}

.patients-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 33px;
  width: 89.100817%;
  margin: 20px;
}

.patients-list-header h2 {
  text-align: left;
  font: normal normal 800 24px/33px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
}

.patients-list-header img {
  width: 17.99px;
  height: auto;
  margin-top: 15px;
}

.patients-list {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 1px 20px;
}

.patient-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.patient-row img {
  width: 18px;
  height: 3.71px;
}

.patient {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.patient img {
  width: 48px;
  height: auto;
}

.patient-data {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.patient-name {
  text-align: left;
  font: normal normal bold 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
}

.patient-traits {
  text-align: left;
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

/*-----Diagnosis History Section-----*/

.diagnosis-history {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
}

.diagnosis-history .section-title {
  text-align: left;
  font: normal normal 800 24px/33px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
}

.graph-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graph-title {
  text-align: left;
  font: normal normal bold 18px/24px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
  margin-top: 16px;
  margin-left: 16px;
}

.chart-and-legend {
  background: #f4f0fe 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  margin: 20px;
  display: flex;
  align-items: flex-start;
}

.chart-container {
  width: 65%;
}

.time-period {
  text-align: right;
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
}

.expand-arrow {
  width: 10.65px;
  height: auto;
  background: transparent url("img/expand_more_FILL0_wght300_GRAD0_opsz24.png")
    0% 0% no-repeat padding-box;
  opacity: 1;
  margin-left: 16px;
}

/*-----Graph Legend-----*/

.graph-legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;
  width: 35%;
  margin-left: 36px;
}

.legend-item {
  display: flex;
  flex-direction: column;
}

.legend-label {
  display: flex;
  align-items: center;
  text-align: left;
  font: normal normal bold 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
}

.legend-color {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 4px;
}

.label-values {
  text-align: left;
  font: normal normal bold 22px/30px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
}

.legend-arrow {
  width: 10px;
  height: auto;
  margin-right: 8px;
}

.legend-description {
  text-align: left;
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
}

.legend-separator {
  background: #cbc8d4 0% 0% no-repeat padding-box;
  opacity: 1;
}

/*-----Diagnostic List-----*/

.diagnostic-list {
  top: 827px;
  left: 417px;
  width: 766px;
  height: 349px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
}

/*-----Personal Info Section-----*/

.container-personal-info {
  top: 108px;
  left: 1216px;
  width: 367px;
  height: 740px;
  background: #ffffff;
  border-radius: 16px;
  opacity: 1;
}

.group-1-personal-info {
  top: 429px;
  left: 1294px;
  width: 108px;
  height: 42px;
  opacity: 1;
}

.group-2-personal-info {
  top: 495px;
  left: 1294px;
  width: 48px;
  height: 42px;
  opacity: 1;
}

.group-3-personal-info {
  top: 561px;
  left: 1294px;
  width: 100px;
  height: 42px;
  opacity: 1;
}

.group-4-personal-info {
  top: 627px;
  left: 1294px;
  width: 138px;
  height: 42px;
  opacity: 1;
}

.group-5-personal-info {
  top: 693px;
  left: 1294px;
  width: 175px;
  height: 42px;
  opacity: 1;
}

.info-text-personal-info {
  text-align: left;
  font: normal normal bold 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
  margin-top: 4px;
}

.label-text-personal-info {
  text-align: left;
  font: normal normal medium 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
}

.name-personal-info {
  font-size: 24pt;
}

.photo-personal-info {
  top: 140px;
  left: 1299px;
  width: 200px;
  height: 200px;
  background: transparent url("img/Layer 2.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

/*-----Lab Results-----*/

.lab-results {
  top: 880px;
  left: 1215px;
  width: 367px;
  height: 296px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
}
