/*-----Global Styles-----*/

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F6F7F8 0% 0% no-repeat padding-box;
  opacity: 1;
}

/*-----Header-----*/

.header {
  display: flex;
  flex-direction: row;
  margin: 16px;
}

.header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.header ul li {
  display: flex;
  flex-direction: row;
}

.header ul .active {
  background-color: green;
}

.header .user {
  display: flex;
  flex-direction: row;
}

/*-----Body-----*/

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*-----Patients List Section-----*/

.patients-list {
  margin: 16px;
}

/*-----Diagnosis History Section-----*/

.diagnosis-history {
  margin: 16px;
}

/*-----Personal Info Section-----*/

.container-personal-info {
  
  /* Layout Properties */
  top: 108px;
  left: 1216px;
  width: 367px;
  height: 740px;

  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
  margin: 16px;
}

.group-1-personal-info {
  /* Layout Properties */
  top: 429px;
  left: 1294px;
  width: 108px;
  height: 42px;
  /* UI Properties */
  opacity: 1;
}

.group-2-personal-info {
  /* Layout Properties */
  top: 495px;
  left: 1294px;
  width: 48px;
  height: 42px;
  /* UI Properties */
  opacity: 1;
}

.group-3-personal-info {
  /* Layout Properties */
  top: 561px;
  left: 1294px;
  width: 100px;
  height: 42px;
  /* UI Properties */
  opacity: 1;
}

.group-4-personal-info {
  /* Layout Properties */
  top: 627px;
  left: 1294px;
  width: 138px;
  height: 42px;
  /* UI Properties */
  opacity: 1;
}

.group-5-personal-info {
  /* Layout Properties */
  top: 693px;
  left: 1294px;
  width: 175px;
  height: 42px;
  /* UI Properties */
  opacity: 1;
}

.info-text-personal-info {
  text-align: left;
  font: normal normal bold 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
  margin-top: 4px;
}

.label-text-personal-info {
  text-align: left;
  font: normal normal medium 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  opacity: 1;
}

.name-personal-info {
  font-size: 24pt;
}

.photo-personal-info {
  top: 140px;
  left: 1299px;
  width: 200px;
  height: 200px;
  background: transparent url('img/Layer 2.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}


